<h1>Here are all the restaurants</h1>

<hr>



<% @restaurants.each do |restaurant| %>
<ul class="list-inline">
  <li>
    <p><%= restaurant.name  %></p>
  </li>
  <li>
    <p><%= restaurant.address  %></p>
  </li>
  <li>
    <p><%= restaurant.category  %></p>
  </li>
  <li>
    <p><%= restaurant.phone_number  %></p>
  </li>
  <li>
    <%= link_to "see tha thing", restaurant_path(restaurant.id), class: "btn btn-primary"  %>
    <%= link_to "edit that!", edit_restaurant_path(restaurant.id), class: "btn btn-primary" %>
    <%= link_to "me delete", restaurant ,method: :delete, class: "btn btn-primary" %>

  </li>
</ul>

<% end %>

<hr>

<%= link_to "another, ANOTHER!", new_restaurant_path, class: "btn btn-primary" %>

